* {
   
    box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.square {
    width: 80px;
    height: 80px;
    border: 1px solid red;
    color: white;
    text-align: center;
    line-height: 80px;
}

.active {
    background-color: red;
}

.bomba {
    background-color: blue;
}

#grid {
    width: 800px;
    margin: 0 auto;
    
}
 #button {
    padding: 1rem;
    
 }